---
layout: default
project_tagline: SEDU - Školení a konzultace Ondreje Siky
---

<p><a href="/">home</a> / <a href="/kurzy">kurzy</a> / {{page.title}}</p>

<h1>{{ page.title}}</h1>

{{ content }}


<h2>Cena</h2>

<p>Cena je {{page.price}} CZK za osobu. Pro firemni skoleni nas kontaktujte emailem: <a href="maito:info@sedu.cz">info@sedu.cz</a></p>


<h2>Registrace na skoleni</h2>

<p>Pokud vas tento kurz zaujal, <a href="/registrace.html">registrujte se</a></p>


<h2>Lektor</h2>

<p>Vsechna skoleni vedu osobne (Ondrej Sika), mam vice nez 7 let zkusenosti s full stack developmentem a posledni 3 roky pracuji jako Software Engineer na <a href="https://slushpool.com">Slush Poolu</a>. Snazim se veci co nejvice automatizovat, neztracet cas rucnim testovanim nebo nasazovanim. Chci co nejvice casu stravit primo vyvojem, coz je cas ktery zakaznik oceni a zaplati.</p>

