---
layout: default
project_tagline: SEDU - Školení a konzultace Ondřeje Šiky
---

<p><a href="/">home</a> / <a href="/kurzy">kurzy</a> / {{page.title}}</p>

<h1>{{ page.title}}</h1>

{{ content }}


<h2>Cena</h2>

<p>Cena je {{page.price}} CZK za osobu. Pro firemní školení nás kontaktujte emailem: <a href="maito:info@sedu.cz">info@sedu.cz</a></p>


<h2>Registrace na skolení</h2>

<p>Pokud Vás tento kurz zaujal, <a href="/registrace.html">registrujte se</a></p>


<h2>Lektor</h2>

<p>Všechna školení vedu osobně (Ondrej Sika), mam více než 7 let zkušeností s full stack developmentem a posledni 3 roky pracuji jako Software Engineer na <a href="https://slushpool.com">Slush Poolu</a>. Snažím se věci co nejvíce automatizovat, neztrácet čas ručním testováním nebo nasazováním. Chci co nejvíce času strávit přímo vývojem, což je čas který zákazník ocení a zaplatí.</p>

