---
layout: ondrejsika-cayman/base
title: SEDU
project_name: SEDU
project_tagline: Školení a konzultace Ondreje Siky
#buttons:
#    - name: ŠkolenÍ Gitu
#      link: https://skoleni-git.cz
#    - name: Konzultace
#      link: https://ondrejsika.cz
---

<style>
.page-header {
    padding: 10px;
    margin: 0;
    line-height: 1.5;
}
.project-tagline {
    margin-top: 0;
    margin-bottom: 15px;
}
</style>

{{ content }}

<footer class="site-footer">
    <span class="site-footer-owner"><a href="https://sedu.cz">SEDU.cz</a> je projekt <a href="https://ondrejsika.com">Ondřeje Šiky</a></span>

    <span class="site-footer-credits">
        Další moje školení a konzultace:
        <a href="https://skoleni-git.cz">Skoleni GIT</a>
        | <a href="https://skoleni-docker.cz">Skoleni Docker</a>
        | <a href="https://ondrejsika.cz">Ondrej Sika</a>
    </span>
</footer>

