---
layout: ondrejsika-cayman/base
title: SEDU
project_name: SEDU
project_tagline: Školení a konzultace Ondreje Siky
#buttons:
#    - name: ŠkolenÍ Gitu
#      link: https://skoleni-git.cz
#    - name: Konzultace
#      link: https://ondrejsika.cz
---

<style>
.page-header {
    padding: 10px;
    margin: 0 auto;
    line-height: 1.5;
    max-width: 52rem;
    margin-top: 2rem;
}
.project-tagline {
    margin-top: 0;
    margin-bottom: 15px;
}

.main-content h1 {
    margin-top: 0;
}

.background {
    color: #fff;
    text-align: center;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}
</style>

{{ content }}

<footer class="site-footer">
    <span class="site-footer-owner"><a href="https://sedu.cz">SEDU.cz</a> je projekt <a href="https://sikahq.com">Ondřeje Šiky</a></span>

    <span class="site-footer-credits">
        Další moje školení a konzultace:
        <a href="https://skoleni-git.cz">Školení GIT</a>
        | <a href="https://skoleni-docker.cz">Školení Docker</a>
        | <a href="https://ondrej-sika.cz">Ondrej Sika</a>
    </span>
</footer>

{% include analytics.html code='UA-39461955-8' %}
{% include cookie_law.html %}
{% include leady.html code='5JZIY61sH191F7x5' %}
{% include tawk.html code='5a62769e4b401e45400c3d30' %}

