---
layout: ondrejsika-cayman/base
title: SEDU
project_name: SEDU
project_tagline: Školení a konzultace Ondreje Siky
google_site_verification: <meta name="google-site-verification" content="wUKs-zTWyhhhlAS22uud3ddvXiV1sJOUN9qSimEplbY" />
buttons:
    - name: home
      link: /
    - name: kurzy
      link: /kurzy/
    - name: terminy
      link: /terminy
    - name: kontakt
      link: /kontakt.html
---

<style>
.page-header {
    padding: 10px;
    margin: 0 auto;
    line-height: 1.5;
}
.project-tagline {
    margin-top: 0;
    margin-bottom: 15px;
}

.main-content h1 {
    margin-top: 0;
}

.background .btn {
    color: #fff;
    background-color: #157c73;
}

.background .btn:hover {
    background-color: #48998C;
}
</style>

{{ content }}

<footer class="site-footer">
    <span class="site-footer-owner"><a href="https://sedu.cz">SEDU.cz</a> je projekt <a href="https://which.sika.io">Ondřeje Šiky</a></span>

    <!-- <span class="site-footer-credits">
        Další moje školení a konzultace:
        <a href="https://skoleni-git.cz">Školení GIT</a>
        | <a href="https://skoleni-docker.cz">Školení Docker</a>
        | <a href="https://ondrej-sika.cz">Ondrej Sika</a>
    </span> -->
</footer>

{% include analytics.html code='UA-39461955-8' %}
{% include cookie_law.html %}
{% include leady.html code='5JZIY61sH191F7x5' %}
{% include tawk.html code='5a62769e4b401e45400c3d30' %}

