---
layout: default
project_tagline: SEDU - Školení a konzultace Ondřeje Šiky
---

<p><a href="/">home</a> / <a href="/terminy">termíny</a> / {{page.title}}, {{ page.date | date: "%d. %m. %Y" }}, {{page.city}}</p>

<h1>Školení {{ page.title}}, {{ page.date | date: "%d. %m. %Y" }}, {{page.city}}</h1>

{{ content }}



<h3>Místo konání</h3>

{{ page.venue }}


<h3>Datum a čas</h3>

{{ page.time }}, {{ page.date | date: "%d. %m. %Y" }}


<h3>Cena</h3>

<p>Cena je {{page.price}} CZK za osobu. Pro firemní školení nás kontaktujte emailem: <a href="maito:info@sedu.cz">info@sedu.cz</a></p>


<h3>Registrace na školení</h3>

<p>Pokud Vás tento kurz zaujal, <a href="/registrace.html">registrujte se</a></p>


<h3>Lektor</h3>

<p>Všechna školení vedu osobně (Ondrej Sika), mám více než 7 let zkušeností s full stack developmentem a posledni 3 roky pracuji jako Software Engineer na <a href="https://slushpool.com">Slush Poolu</a>. Snažím se věci co nejvíce automatizovat, neztrácet čas ručním testováním nebo nasazováním. Chci co nejvíce času strávit přímo vývojem, což je čas který zákazník ocení a zaplatí.</p>

