---
layout: default
project_tagline: SEDU - Školení a konzultace Ondřeje Šiky
---

<p><a href="/">home</a> / <a href="/terminy">termíny</a> / {{page.title}}, {{ page.date | date: "%d. %m. %Y" }}, {{page.city}}</p>

{% if page.is_actual %}{% else %}
<div style="margin-bottom: 20px; padding: 20px; background-color: rgba(255, 0, 0, 0.2); color: black;">
    <b>Kurz již proběhl</b>, můžete se podívat na <a href="/kurzy/{{page.course}}.html">aktuální termíny</a>,
    <br>případně nás kontaktujte na emailu: <a href="mailto:info@sedu.cz">info@sedu.cz</a>
</div>
{% endif %}


<h1>Školení {{ page.title}}, {{ page.date | date: "%d. %m. %Y" }}, {{page.city}}</h1>

{{ content }}

{% for course in site.course %}
    {% if course.course == page.course %}
        {{ course.content }}
    {% endif %}
{% endfor %}

<h3>Místo konání</h3>

{{ page.venue }}


<h3>Datum a čas</h3>

{{ page.time }}, {{ page.date | date: "%d. %m. %Y" }}


<h3>Cena</h3>

<p>Cena je {{page.price}} CZK za osobu. Pro firemní školení nás kontaktujte emailem: <a href="maito:info@sedu.cz">info@sedu.cz</a></p>


<h3>Registrace na školení</h3>

<p>Pokud Vás tento kurz zaujal, <a href="/registrace.html">registrujte se</a></p>


<h2>Lektor</h2>

<div class="row">
    <div class="col-md-3">
        <img src="/static/content/trainers/ondrejsika_200px.jpg">
        <center><b>Ondrej Sika</b></center>
    </div>
    <div class="col-md-9">
        <p>Všechna školení vedu osobně (Ondrej Sika), mám více než 7 let zkušeností s full stack developmentem a posledni 3 roky pracuji jako software engineer na <a href="https://slushpool.com">Slush Poolu</a>. snažím se věci co nejvíce automatizovat, neztrácet čas ručním testováním nebo nasazováním. chci co nejvíce času strávit přímo vývojem, což je čas který zákazník ocení a zaplatí.</p>
    </div>
</div>

<div class="row" style="margin-top: 30px">
    <div class="col-md-12">
        <h2 id="registrace">Registrace na kurz</h2>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <form action="https://former.xsika.cz/submit/5/JAAxkitdMQgEMojJIMAhazKggqbraDfL/">
          <input type="hidden" name="course" value="{{ page.course }}">
          <input type="hidden" name="type" value="registrace">
          <input type="hidden" name="event" value="{{ page.date }}">
          <div class="form-group">
            <label for="name">Jméno</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Jmeno">
          </div>
          <div class="form-group">
            <label for="name">Společnost</label>
            <input type="text" class="form-control" name="company" id="name" placeholder="Společnost">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email"  id="email" placeholder="Email">
          </div>
          <div class="form-group">
            <label for="phone">Telefon</label>
            <input type="tel" class="form-control" name="phone" id="exampleInputPassword1" placeholder="Telefon">
          </div>
          <div class="form-group">
            <label for="message">Zpráva</label>
            <textarea class="form-control" name="message" rows="3" placeholder="Zpráva"></textarea>
          </div>
          <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6Ld1vw8UAAAAADl6EjzCljZcn69XsZ1dL_-mof5v"></div>
          </div>
          <button type="submit" class="btn-default">Registrovat</button>
        </form>
    </div>
</div>


{% assign has_references = false %}

{% for reference in site.reference %}{% if reference.course == page.course and reference.person %}
    {% assign has_references = true %}
{% endif %}{% endfor %}

{% if has_references %}
<h3>Reference na tento kurz</h3>

{% for reference in site.reference %}{% if reference.course == page.course and reference.person %}
<div class="row">
<div class="col-xs-2" markdown="1">
    <img src="{{reference.image}}">
</div>
<div class="col-xs-10" markdown="1">
    <blockquote>
        {{ reference.text }}
        <br>
        <br><b>{{ reference.person }}</b>
        <br>{{ reference.company }}
    </blockquote>
</div>
</div>
{% endif %}{% endfor %}
{% endif %}
