---
layout: default
project_tagline: SEDU - Školení a konzultace Ondřeje Šiky
---

<p><a href="/">home</a> / <a href="/reference">reference</a> / {{ page.person }}, {{ page.company }}</p>

<h1>{{ page.person}}, {{ page.company }}</h1>


<div class="row">
<div class="col-sm-3">

    <p><a href="/"><img src="{{ page.image }}" alt="" /></a></p>

  </div>
<div class="col-sm-9">

    <blockquote>
      <p>{{ page.text }}</p>

      <p><strong>{{ page.person }}</strong>
      <br />{{ page.company }}</p>
    </blockquote>
</div>
</div>


